﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body>
    <div>
        <h2>Değiştir</h2> 
        <h2>Değiştir</h2>
        <h2>Değiştir</h2>
    </div>
    <div class="mainDiv" align="right">
        <h1 align="left">Firebase Web App</h1>
        <textarea id="mainText" placeholder="Enter text here..."></textarea>
        <button id="submitBtn" onclick="submitClick()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>


    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDSMMwpudnDW3RQrA_WZZrTS7nd0kkpg-A",
    authDomain: "webdeneme-1406a.firebaseapp.com",
    databaseURL: "https://webdeneme-1406a.firebaseio.com",
    projectId: "webdeneme-1406a",
    storageBucket: "",
    messagingSenderId: "871860241046"
  };
  firebase.initializeApp(config);
    </script>
    <script src="~/Scripts/index.js"></script>

</body>
